%% list of servers to start
%% minimum needed is name and serverport
%% format:
%% {<server name> :: atom(), [{<option> :: atom(), <value> :: term()}]}
[
   {db0, [{serverport, 6000}, {host, "localhost"}, {debug,true}]},
   {db1, [{serverport, 6001}, {host, "localhost"}, {debug,false}, {parallel, 4}]},
   {db2, [{serverport, 1984}, {host, "localhost"}, {debug,false}]}
].